<html>
<head>
  <title>Login</title>
</head>
<body>
  <form method="post" action="/login">
    StudentID: <input type="text" name="StudentID"/><br/>
    Password: <input type="password" name="Password"/><br/>
    <input type="submit" value="Login" name="LoginButton"/><br/>
  </form>
</body>
</html>
